body {
    font-family: serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #eaeaea;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 700;
}

.price {
    font-size: 18px;
    margin: 5px 0;
}

.desc {
    font-size: 17px;
    margin: 10px 0 20px 0;
    line-height: 1.4;
}

.btn {
    background-color: #e86a5f;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d45a4f;
}
